/* palanquin-dark-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/palanquin-dark-v17-latin-regular.woff2') format('woff2');
}

/* palanquin-dark-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/palanquin-dark-v17-latin-600.woff2') format('woff2');
}

/* palanquin-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/palanquin-v17-latin-500.woff2') format('woff2');
}

/* palanquin-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/palanquin-v17-latin-regular.woff2') format('woff2');
}

/* arima-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/arima-v7-latin-regular.woff2') format('woff2');
}

/* arima-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/arima-v7-latin-700.woff2') format('woff2');
}

:root {
    /* Schriftfamilien */
    --font-body: "Palanquin", sans-serif;
    --font-slider: "Palanquin Dark", sans-serif;
    --font-nav_headlines_buttons: "Arima", sans-serif;

    /* Schriftgrößen */
    --text-size-15px: 15px;
    --text-size-16px: 16px;
    --text-size-18px: 18px;
    --text-size-24px: 24px;
    --text-size-28px: 28px;
    --text-size-32px: 32px;
    --text-size-40px: 40px;
    --text-size-48px: 48px;
    --text-size-52px: 52px;
    --text-size-64px: 64px;

    /* Schriftstärke */
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;

    /* Zeilenhöhe */
    --leading-thight: 80%;
    --leading-none: 100%;
    --leading-snug: 110%;
    --leading-normal: 120%;

    /* Zeichenabstand */
    --tracking-normal: 0%;
    --tracking-wide: 5%;

    /* Textfarben */
    --color-text-primary: #4EA487;
    --color-text-secondary: #54370D;
    --color-text-body: #3D3D3D;
    --color-text-button: #737373;
    --color-text-accent: #F1C953;
    --color-text-inverse: #FFFFFF;
    --color-text-header: #F8F5EB;
}

/* Utility Classes */
html {
    font-family: var(--font-body);
    font-size: var(--text-size-24px);
    font-weight: var(--weight-regular);
    line-height: var(--leading-normal);
    color: var(--color-text-body);
}

h1 {
    font-family: var(--font-nav_headlines_buttons);
    font-size: var(--text-size-64px);
    font-weight: var(--weight-bold);
    line-height: var(--leading-normal);
    color: var(--color-text-accent);
    margin: 0px;
}

h2 {
    font-family: var(--font-nav_headlines_buttons);
    font-size: var(--text-size-52px);
    font-weight: var(--weight-bold);
    line-height: var(--leading-normal);
    color: var(--color-text-primary);
}

h3 {
    font-family: var(--font-nav_headlines_buttons);
    font-size: var(--text-size-32px);
    font-weight: var(--weight-semibold);
    line-height: var(--leading-normal);
    color: var(--color-text-secondary);
    text-align: center;
    width: 100%;
}

h4 {
    font-family: var(--font-nav_headlines_buttons);
    font-size: var(--text-size-18px);
    font-weight: var(--weight-bold);
    line-height: var(--leading-normal);
    color: var(--color-text-secondary);
}

p {
    font-family: var(--font-body);
    font-size: var(--text-size-24px);
    font-weight: var(--weight-regular);
    line-height: var(--leading-normal);
    color: var(--color-text-body);
    margin: 0;
}

a {
    color: var(--color-text-primary);
    text-decoration: underline;
}

a:hover {
    color: var(--color-text-accent);
}